[submodule "frontend"]
    path = frontend
    url = https://github.com/TQS-voltconnect/frontend.git
    branch = deploy
[submodule "backend"]
    path = backend
    url = https://github.com/TQS-voltconnect/backend.git
    branch = deploy
